.vs/
packages/
TestResult/
Trees/bin/
Trees/obj/
Trees/Properties/
Trees/App.config
Trees/Trees.csproj
Trees/Trees.csproj.user
Trees/Program.cs

TreesTests/bin/
TreesTests/obj/
TreesTests/Properties/
TreesTests/TreesTests.csproj
TreesTests/TreesTests.csproj.user

Trees.sln
