.vs/
packages/
TestResult/
ElasticTree/bin/
ElasticTree/obj/
ElasticTree/Properties/

ElasticTree/App.config
ElasticTree/ElasticTree.cspro
ElasticTree/ElasticTree.csproj.user
ElasticTree/Program.cs
ElasticTree.sln

ElasticTreeTest/bin/
ElasticTreeTest/obj/
ElasticTreeTest/Properties/
ElasticTreeTest/ElasticTree.cspro
ElasticTreeTest/ElasticTree.csproj.user
