.vs/
packages/
TestResult/
Trees/bin/
Trees/obj/
Trees/Properties/
Trees/App.config
Trees/Trees.csproj
Trees/Trees.csproj.user
Trees/Program.cs

TreesTest/bin/
TreesTest/obj/
TreesTest/Properties/
TreesTest/TreesTests.csproj
TreesTest/TreesTests.csproj.user

Trees.sln
